$twitter-icons-color: rgb(101, 119, 134);
$twitter-color: rgba(29,161,242,1.00); //rgb(29, 161, 242);
$standard-border-color: rgb(230, 236, 240); //#cccccc;
$twitter-font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
$twitter-hover-color: rgb(232,245,254);
$twitter-red: rgb(202,32,85);
$special-grey: rgba(0,0,0,0.2);
$dark-grey: #999999;
$twitter-button-grey: rgb(230, 236, 240);